body {
  background-color: RGB(1, 0, 33);
  font-family: segoe UI;
}

p {
  color: RGB(89, 84, 112);
}

.green {
  background-color: RGB(0, 243, 132);
  color: RGB(0, 243, 132);
}

.dark-green {
  color: RGB(53, 171, 137);
}

.circle {
  width: 277px;
  height: 277px;
  border-radius: 50%;
  background: #131313;
  margin: 0px auto;
  padding: 3%;
  border: 1px solid #424242;
  box-shadow: 10px 10px 40px #000000;
}

.circle > h2 {
  color: #424242;
  font-size: 1.4rem;
  font-weight: bold;
}
